.burger_ingredients {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	color: var(--text-primary-color);
	font-family: 'Jet Brains Mono', serif;
}

.menu {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.ingredientsScrollContainer {
	height: 65vh;
	overflow-y: auto;
}

.ingredientsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.ingredientLink {
	display: block;
	width: 100%;
	color: inherit;
	text-align: center;
	text-decoration: none;
}

.burgerIngredient {
	position: relative;
	display: flex;
	flex: 0 0 calc(50% - 12px);
	flex-direction: column;
	align-items: center;
	gap: 4px;
	width: 100%;
}

.price {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
